---
import BaseLayout from '../layouts/BaseLayout.astro'
import List from '../crafts/List.md'
---

<BaseLayout>
  <main class="prose text-xl font-mono w-full h-svh grid place-items-center">
    <List />
  </main>
</BaseLayout>
