---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="text-xl font-mono w-full h-svh grid place-items-center">
    <ol class="list-decimal">
      <li>
        <a href="/voxel-ish">Voxel-Ish</a>
      </li>
      <li>
        <a href="/rapier-text">Rapier-Text</a>
      </li>
    </ol>
  </main>
</BaseLayout>
