---
import BaseLayout from '../layouts/BaseLayout.astro'
import App from '../crafts/VoxelIsh'
---

<BaseLayout
  ignoreTheme
  class="light"
  title="Voxel-ish"
  description="Collidable 3D voxels generated from images"
>
  <main class="w-full h-screen bg-white">
    <App client:load transition:persist />
  </main>
</BaseLayout>
