---
import Blocks from '../components/CursorBlocks.astro'
---

<div class="flex items-center justify-center w-full">
  <Blocks class="grid grid-cols-2">
    <div
      class="w-12 h-12 aspect-square rounded-l-full bg-[#f24c17]"
      data-direction="bottom-left"
      data-cursor-color="var(--red9)"
    >
    </div>
    <div
      class="w-12 h-12 aspect-square rounded-r-full bg-[#ff7362]"
      data-direction="bottom-right"
      data-cursor-color="var(--red9)"
    >
    </div>
    <div
      class="w-12 h-12 aspect-square rounded-l-full bg-[#a358ff]"
      data-direction="bottom-left"
      data-cursor-color="var(--iris9)"
    >
    </div>
    <div
      class="w-12 h-12 aspect-square rounded-full bg-[#0fbefe]"
      data-direction="bottom-right"
      data-cursor-color="var(--blue9)"
    >
    </div>
    <div
      class="w-12 h-12 aspect-square rounded-l-full rounded-b-full bg-[#00d085]"
      data-direction="bottom-right"
      data-cursor-color="var(--green9)"
    >
    </div>
  </Blocks>
</div>
